@page
@model AccountModel
@{
    ViewData["Title"] = "Account Info";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Online Store</h1>
    </header>

    <main>
        <h2>Hello, [username goes here]</h2>
        <br>
        <h3>Credit Card Information:</h3>
        <p>[Credit Card Owner]</p>
        <p>[Credit Card Number]</p>
        <p>[Expiration Date]</p>
        <p>[Security Code]</p>
        <br>
        <button>Update Credit Card Info</button>
        <br>
        <br>
        <h3>Address Information:</h3>
        <p>[Address]</p>
        <br>
        <button>Update Address Information</button>
    </main>

    <footer>
        <p>&copy; 2024 Online Shopping Application. All Rights Reserved.</p>
    </footer>
</body>
</html>

