@page
@using Group5_DBApp.Models
@model Group5_DBApp.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Application</title>
    <link rel="stylesheet" href="styles.css">
    <script src="~/wwwroot/js/site.js"></script>
</head>
<body>
    <main>
    <img src="~/images/Basketball.png" alt="Basketball Image">
        <section class="search-products">
            <!-- Search Bar -->
            <form action="#" method="GET">
                <input type="text" name="search" id="searchInput" placeholder="Search products...">
            </form>
        </section>
        <section class="featured-products" id="featured-products">
            <!-- Products -->
            @if (Model.Products != null) {
            @foreach (var product in Model.Products)
            {
                <div class="product-card">
                    <form id="AddToCartForm" method="post" asp-page-handler="AddToCart">
                        <h3>@product.prod_name</h3>
                        <p>$@product.price</p>
                        <!-- Add a hidden input field to store the product ID -->
                        <input type="hidden" name="prod_id" value="@product.prod_id" />
                        <!-- Change the button type to submit -->
                        <button type="submit" id="AddToCart">Add to Cart</button>
                    </form>
                </div>

            }
            }
        </section>
        <br>
        <br>
        <section class="stocks">
            <h4><i><u>Stocks:</u></i></h4>
            @if (Model != null && Model.Stock != null && Model.Stock.Any())
            {
                <ul>
                    @foreach (var product in Model.Products)
                    {
                        <h4>Product Name: @product.prod_name</h4>
                        @foreach (var stock in Model.Stock.Where(s => s.prod_id == product.prod_id))
                        {
                            <li>
                                Quantity: @stock.quantity
                            </li>
                        }
                    }
                </ul>
            }
            else
            {
                <p>No stocks found.</p>
            }
        </section>
    </main>
</body>
</html>
