@page
@using Group5_DBApp.Models
@using Group5_DBApp.Pages
@model Group5_DBApp.Pages.StaffDashboardModel
@{
    ViewData["Title"] = "Staff Account Info";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<h1>Welcome to the Staff Dashboard</h1>
<body>
    <main>
        <br>
        <h2>Hello,</h2>
        <br>
        <h3>Credit Card Information:</h3>
        <br>
        <br>
        <h3>Address Information:</h3>
        
        <br>
    </main>
</body>
</html>